html, body {
  height: 100%;
}

html {
  font-size: 0.782vw; //10px on 1280x720
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#presentation-controls {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  color: white;
  background: black;
  align-items: center;
}

#presentation-wrapper-outer {
  width: 100%;
  flex-shrink: 0;
}

#presentation-wrapper {
  width: 100%;
  height: 0;
  padding-top: percentage(9/16);
  overflow: hidden;
  position: relative;
}

#presentation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}

.slide-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.live-code-element {
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.live-code-console-element {
  pre, code {
    border: 0;
    margin: 0;
    padding: 0;
    white-space: normal;
  }
  .console-message {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: solid 1px lightgrey;
  }
  .console-message__content {
  }
  .console-message__origin {
  }
  .console-message__content--level1 {
    color: orange;
  }
  .console-message__content--level2 {
    color: red;
  }
}

.nav-tabs {
  font-size: 0.6em;
}

//if we use webviews in tabs, they dont re-load when setting display none on them
//solution: give tabs no dimensions instead of setting display to none
.tab-content > .tab-pane {
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
}

.tab-content > .active {
  display: block;
  width: auto;
  height: auto;
}

.tab-content > .tab-pane-full-height.active {
  height: 100%;
}

.substate {
  display: none;
  &.active {
    display: block;
  }
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
